[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@github.com:samuel-andres/dwm.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = git@github.com:samuel-andres/st.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = git@github.com:samuel-andres/dmenu.git
[submodule ".local/src/slstatus"]
	path = .local/src/slstatus
	url = git@github.com:samuel-andres/slstatus.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:samuel-andres/init.lua.git
[submodule ".local/src/slock"]
	path = .local/src/slock
	url = git@github.com:samuel-andres/slock.git
